@import '../../global.scss';

.tag-input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;

    @include custom-input;

    .tags{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: flex-start;

        .tag-item{
            display: flex;
            background: $theme-color-3;
            align-items: center;
            border-radius: 5px;
            margin-right: 5px;
            margin-bottom: 2px; 

            p {
                margin: 0;
                padding: 5px 10px;
                border-right: 1px solid $theme-color-2;
            }

            i {
                margin: 0 5px;
                cursor: pointer;
            }
        }

        input{
            font-size: 16px;
            border: none;
            outline: none;
            background: transparent;
            color: $theme-color-1;
        }
    }
}